absl-py
anyio
certifi
click
contourpy
cycler
exceptiongroup
filelock
fonttools
fsspec
grpcio
h11
hf-xet
httpcore
httpx
idna
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
mkl-service
mpmath
networkx
numpy
nvitop
packaging
pandas
pillow
protobuf
psutil
pyparsing
python-dateutil
pytz
PyYAML
safetensors
scipy
seaborn
shellingham
six
sympy
tensorboard
tensorboard-data-server
tensorboardX
tqdm
typer-slim
typing_extensions
tzdata
Werkzeug